@font-face {
  font-family: "BMWTypeNext Pro Regular";
  src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot");
  src: url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.eot?#iefix")format("embedded-opentype"),
  url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff2")format("woff2"),
  url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.woff")format("woff"),
  url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.ttf")format("truetype"),
  url("https://db.onlinewebfonts.com/t/ac95f91c55cc591ecf37a4d136ff8031.svg#BMWTypeNext Pro Regular")format("svg");
}

body {
  font-family: "BMWTypeNext Pro Regular", 'Poppins', sans-serif;
  overscroll-behavior: none;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.font-poppin {
  font-family: "BMWTypeNext Pro Regular", 'Poppins', sans-serif;
}

.font-mulish{
  font-family: 'Mulish', sans-serif;
}

.font-merriweather {
  font-family: 'Merriweather', serif;
}

.font-karla {
  font-family: 'Karla', serif;
}

html {
  overscroll-behavior: none;
}

input[type="color"] {
  -webkit-appearance: none;
  border: none;
}

input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color"]::-webkit-color-swatch {
  border: none;
}

.line-2 {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}
